.carousel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.carousel::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-light);
    opacity: .5;
}

.carousel__content {
    text-align: center;
    width: 100%;
    align-self: stretch;
    display: flex;
    overflow: hidden;
    position: relative;
}

.carousel__content-item {
    float: left;
    display: flex;    
    min-width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: .5s all ease-in;
    position: absolute;
}

.carousel__content-item-image {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel__content-item-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__content-item-image::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--color-light);
    opacity: .1;
    z-index: 1;
}


.carousel__content-item-header-container  {
    position: relative;
    width: 60%;
    height: 100%;
    display: flex;
    overflow: hidden;
}


.carousel__content-item-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 90%;
    max-width: 70%;
    padding: 2rem;
    z-index: 1;
}

.title {
    width: 70%;
    font-family: var(--ff-Poppins);
    font-weight: var(--fw-title);
    font-size: var(--fs-lg);
    color: var(--color-primary);
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.438);

    line-height: 3rem;
    text-align: left;
}

.title > div {
    color: var(--color-accent);
}

.description {
    width: 100%;
    margin-top: 1rem;
    
    font-family: var(--ff-Poppins);
    font-weight: var(--fw-description);
    font-size: var(--fs-sm);
    color: var(--color-dark);

    text-align: left;
}

.cta {
    background-color: var(--color-dark);
    color: var(--color-light);

    font-family: var(--ff-Poppins);
    font-weight: var(--fw-title);
    font-size: var(--fs-md);
    text-decoration: none;

    padding: 1rem;

    border: none;
    border-radius: 40px 20px 40px 20px;

    cursor: pointer;
}

.cta:hover {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.445);
    color: var(--color-secondary);
}

.carousel__content-item > h1 {
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 1;
}

.carousel__content-item > p {
    color: black;
    font-weight: 300;
    font-size: 20px;
    z-index: 1;
}


.carousel__btns {
    position: absolute;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.carousel__btns > i {
    opacity: .8;
    color: var(--color-dark);
    font-size: 45px;
    cursor: pointer;
    justify-content: space-between;
    transition: all .5s ease-in-out;
    z-index: 998;
}

.carousel__btns > i:hover {
    color: var(--color-accent);
    opacity: 1;
}

.carousel__steps {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 998;
}

.carousel__steps-step {
    height: 8px;
    width: 8px;
    margin: 0 5px;
    border-radius: 50%;
    border: 1px solid var(--color-primary);
    opacity: .5;
    cursor: pointer;
    transition: all .75s ease-in-out;
}

.carousel__steps-step:hover, .carousel__steps-step-active {
    opacity: 0.7;
    background-color:var(--color-accent);
}

