<div class="content">
    <div class="nav__page-container">
        <nav class="nav__page">
            <ul>
                <li><a href="#hero" class="nav__page-link">Home</a></li>
                <li><a href="#start" class="nav__page-link">Recipes</a></li>
                <li><a href="#about" class="nav__page-link">About me</a></li>
                <li><a href="#contact" class="nav__page-link">Contact</a></li>            
            </ul>
        </nav>
    </div>
    <div class="nav__social-container">
        <nav class="nav__social">
            <ul>
                <li><a href="https://www.instagram.com/luisvegana/?hl=es" target="_blank" rel="noopener noreferrer" class="social-icon social-instagram"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#" target="_blank" rel="noopener noreferrer" class="social-icon social-twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" target="_blank" rel="noopener noreferrer" class="social-icon social-linkedin"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </nav>
    </div>
</div>
