<div class="content">
    <div class="nav__page-container">
        <nav class="nav__page">
            <ul>
                <li class="nav__page-link">Recetas</li>
                <li class="nav__page-link">Sobre mí</li>
                <li class="nav__page-link">Contacto</li>
                <form class="form-inline search-form">
                    <input class="form-control search" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn searchButton" type="submit"><i class="fa fa-search"></i></button>
                </form>            
            </ul>
        </nav>
    </div>
    <div class="nav__social-container">
        <nav class="nav__social">
            <ul>
                <li><span class="social-icon social-instagram"><i class="fa fa-instagram"></i></span></li>
                <li><span class="social-icon social-twitter"><i class="fa fa-twitter"></i></span></li>
                <li><span class="social-icon social-linkedin"><i class="fa fa-linkedin"></i></span></li>
            </ul>
        </nav>
    </div>
</div>
