<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Luis Vegana</title>
</head>
<body>
  <header>
    <nav-header class="nav"></nav-header>
  </header>
  <section>
    <app-hero-section id="hero"></app-hero-section>
  </section>
  <section>
    <app-recipes-section id="recipes"></app-recipes-section>
  </section>
  <section>
    <app-about-section id="about"></app-about-section>
  </section>
  <section>
    <app-contact id="contact"></app-contact>
  </section>
</body>
</html>