<div class="content">
    <div class="container">
        <header class="hero__header">
            <div class="hero__header__title-container">
                <h1 class="title">Logo</h1>
            </div>
            <div class="hero__header__description-container">
                <p class="description">Aquí iría una pequeña descripción de la página seguido del CTA,
                                       para que la gente visite la página.</p>
            </div>
            <div class="hero__header__cta-container">
                <a href="#main" class="btn cta">Go Vegan!</a>
            </div>
        </header>
        <div class="hero__body">
            <div class="hero__body__image-container"></div>
        </div>
    </div>
</div>
