<div class="content">
    <div class="container">
        <div class="upper-container">
            <div class="upper-container__text">
                <h1 class="title">Contacto</h1>
                <p class="description">La descripción. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit corrupti nostrum consectetur dolorum fuga nobis.</p>
                <div class="mail">elMail</div>
                <div class="telefono">El telefono</div>
            </div>
        </div>
        <div class="contact-form">
            <h1 class="form-title">Escribime!</h1>
            <form class="form" action="">
                <div class="form-floating">
                    <input class="form-control" id="email" type="email" placeholder="email">
                    <label for="emailInput">Email</label>
                </div>
                <div class="form-floating">
                    <input class="form-control" id="subjectInput" type="text" placeholder="asunto">
                    <label for="subjectInput">Asunto</label>
               </div>
                <div class="form-floating">
                    <textarea class="form-control message" id="message" type="textarea" placeholder="Mensaje"></textarea>
                    <label for="message">Mensaje</label>
                </div>
                <button class="submitButton">Enviar</button>
            </form>
        </div>
        <div class="lower-container">
            <div class="lower-container__text">
                <h1 class="logo">Luis Vegana</h1>
                <div class="links">
                    <ul>
                        <li><a href="#hero" class="page-link">Home</a></li>
                        <li><a href="#recipes" class="page-link">Recetas</a></li>
                        <li><a href="#about" class="page-link">Sobre mí</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>