<div class="content">
    <div class="container">
        <div class="upper-container">
            <div class="upper-container__text">
                <h1 class="title">Contact</h1>
                <p class="description">If you liked my work don't hesitate to reach me out or<span class="accent"> leave me a message!</span>
                    <span class="arrow"><a href='https://pngpart.com/images/bt/drawn-arrow-2.png'></a></span> 
                </p>
                <div class="mail">
                    <span><i class="fa fa-envelope"></i> example@mail.com</span>
                </div>
                <div class="phone">
                    <span><i class="fa fa-phone"></i> XX-XXX-XXX-XXX</span>
                </div>
            </div>
        </div>
        <div class="contact-form">
            <h1 class="form-title">Leave a message!</h1>
            <form class="form" action="">
                <div class="form-floating">
                    <input class="form-control" id="email" type="email" placeholder="email">
                    <label for="emailInput">Email</label>
                </div>
                <div class="form-floating">
                    <input class="form-control" id="subjectInput" type="text" placeholder="asunto">
                    <label for="subjectInput">Subject</label>
               </div>
                <div class="form-floating">
                    <textarea class="form-control message" id="message" type="textarea" placeholder="Mensaje"></textarea>
                    <label for="message">Message</label>
                </div>
                <button class="submitButton">Send</button>
            </form>
        </div>
        <div class="lower-container">
            <div class="lower-container__text">
                <h1 class="logo">Logo</h1>
            </div>
        </div>
    </div>
</div>