    <div class="container">
        <div class="recipes-container">
            <div class="recipes__category">
                <div class="recipes__category-title-container">
                    <h1 class="title">Entradas</h1>
                </div>
                <div class="recipes__category-cards-container">
                    <div class="recipe__card">
                        <div class="img"></div>
                        <div class="recipe__card-description-container">
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, sequi?</p>
                            <p class="duration">20m</p>
                        </div>
                        <div class="title">
                            <h1>Dip de Garbanzos</h1>
                        </div>
                    </div>
                    <div class="recipe__card">
                        <div class="img"></div>
                        <div class="recipe__card-description-container">
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, sequi?</p>
                            <p class="duration">10m</p>
                        </div>
                        <div class="title">
                            <h1>Hummus</h1>
                        </div>
                    </div>
                    <div class="recipe__card">
                        <div class="img"></div>
                        <div class="recipe__card-description-container">
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, sequi?</p>
                            <p class="duration">5m</p>
                        </div>
                        <div class="title">
                            <h1>Semillas de calabaza</h1>
                        </div>
                    </div>
                </div>  
            </div>
            <hr>
            <div class="recipes__category">
                <div class="recipes__category-title-container">
                    <h1 class="title">Salados</h1>
                </div>
                <div class="recipes__category-cards-container">
                    <div class="recipe__card">
                        <div class="img"></div>
                        <div class="recipe__card-description-container">
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, sequi?</p>
                            <p class="duration">90m</p>
                        </div>
                        <div class="title">
                            <h1>Pizza</h1>
                        </div>
                    </div>
                    <div class="recipe__card">
                        <div class="img"></div>
                        <div class="recipe__card-description-container">
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, sequi?</p>
                            <p class="duration">50m</p>
                        </div>
                        <div class="title">
                            <h1>Momos</h1>
                        </div>
                    </div>
                    <div class="recipe__card">
                        <div class="img"></div>
                        <div class="recipe__card-description-container">
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, sequi?</p>
                            <p class="duration">50m</p>
                        </div>
                        <div class="title">
                            <h1>Not Burger</h1>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="recipes__category">
                <div class="recipes__category-title-container">
                    <h1 class="title">Dulces</h1>
                </div>
                <div class="recipes__category-cards-container">
                    <div class="recipe__card">
                        <div class="img"></div>
                        <div class="recipe__card-description-container">
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, sequi?</p>
                            <p class="duration">50m</p>
                        </div>
                        <div class="title">
                            <h1>Budin de banana</h1>
                        </div>
                    </div>
                    <div class="recipe__card">
                        <div class="img"></div>
                        <div class="recipe__card-description-container">
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, sequi?</p>
                            <p class="duration">15m</p>
                        </div>
                        <div class="title">
                            <h1>Panqueques</h1>
                        </div>
                    </div>
                    <div class="recipe__card">
                        <div class="img"></div>
                        <div class="recipe__card-description-container">
                            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, sequi?</p>
                            <p class="duration">90m</p>
                        </div>
                        <div class="title">
                            <h1>Helado</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
