<div class="content">
    <div class="container">
        <div class="about__title-container">
            <h1 class="section-title"><div class="upper-text">Sobre</div>mí</h1>
        </div>
        <header class="about__header-container">
            <div class="about__header-first">
                <div class="text-container">
                    <h1 class="title">Quien soy</h1>
                    <p class="description">Aquí iría una descripción que podría ser de la marca "Luis Vegana", sobre Lucía o ambas.
                                          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis eveniet reiciendis laborum, architecto minus maxime nam rerum, officia, vitae quis quas odit dicta sapiente laboriosam et incidunt fuga optio. Atque, quam? Saepe voluptates nulla magnam quam enim expedita quia laborum atque provident, tenetur error accusamus. Et debitis soluta quidem inventore?
                    </p>
                </div>
                <div class="image-container">
                    <div class="blob-container first">
                        <svg class="blob first" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                            <path fill="#ffd64f7a" d="M39.8,-49.7C51.4,-37.7,60.5,-25,66.6,-8.9C72.8,7.1,76,26.4,69.9,43.3C63.7,60.3,48.1,74.7,31.2,77.1C14.4,79.4,-3.7,69.7,-20.3,61.3C-36.8,52.8,-51.9,45.7,-63.9,33C-76,20.2,-85.1,1.8,-84.2,-16.8C-83.3,-35.5,-72.4,-54.4,-56.7,-65.7C-41,-76.9,-20.5,-80.6,-3.2,-76.8C14.1,-73,28.2,-61.7,39.8,-49.7Z" transform="translate(100 100)" />
                        </svg>
                    </div>
                    <div class="image first"></div>
                </div>
            </div>
            <div class="about__header-second">
                <div class="text-container" style="order: 2">
                    <h1 class="title">Que hago</h1>
                    <p class="description">Este segundo es opcional, podría ser todo una única sección o dividirla en varias subsecciones para facilitar la lectura. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit explicabo asperiores fugit ex quidem quis incidunt repudiandae non aperiam doloremque id vero magnam dolorum reiciendis voluptate, eveniet architecto nesciunt dolores at veritatis excepturi ut. Rem quibusdam laudantium similique ducimus at culpa, quisquam commodi repudiandae, saepe, voluptate quasi asperiores rerum distinctio.</p>
                </div>
                <div class="image-container">
                    <div class="blob-container second">
                        <svg class="blob second" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                            <path fill="#ffb4ff78" d="M22.1,-34C33.2,-31.8,49.9,-35.1,57.6,-30.4C65.4,-25.6,64.2,-12.8,64.7,0.3C65.3,13.5,67.6,26.9,63.2,37.4C58.8,47.9,47.5,55.4,35.9,62.5C24.2,69.6,12.1,76.2,0.8,74.8C-10.5,73.5,-21.1,64.1,-25.7,53C-30.4,41.9,-29.1,29,-34.3,19.9C-39.5,10.7,-51.1,5.4,-53.3,-1.3C-55.6,-8,-48.6,-16,-41.7,-22.1C-34.8,-28.2,-28,-32.4,-21,-37C-14.1,-41.6,-7.1,-46.5,-0.8,-45.2C5.5,-43.8,11,-36.2,22.1,-34Z" transform="translate(100 100)" />
                        </svg>
                    </div>
                    <div class="image second"></div>
                </div>
            </div>
            <div class="about__header-third">
                <div class="text-container">
                    <h1 class="title">Otros</h1>
                    <p class="description">Para concluir se podría agregar un tercer item que hable sobre alguna otra cosa como para complementar un poco la sección. También se podría dejar con solo dos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ut eos odit labore reiciendis tempore expedita possimus soluta debitis in, nesciunt, dolor aspernatur! Blanditiis ipsum qui eius iure doloremque magni ullam delectus, voluptates nisi, non nihil quod veniam laboriosam iste.</p>
                </div>
                <div class="image-container">
                    <div class="blob-container third">
                        <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                            <path fill="#a7f0bada" d="M64.7,0.3C64.7,26.2,32.4,52.4,1.9,52.4C-28.7,52.4,-57.3,26.2,-57.3,0.3C-57.3,-25.7,-28.7,-51.4,1.9,-51.4C32.4,-51.4,64.7,-25.7,64.7,0.3Z" transform="translate(100 100)" />
                          </svg>                          
                    </div>
                    <div class="image third"></div>
                </div>
            </div>
        </header>
    </div>
</div>
